*,
*::before,
*::after {
  box-sizing: border-box;
}

$mantine-breakpoint-xs: 36em;
$mantine-breakpoint-sm: 48em;
$mantine-breakpoint-md: 62em;
$mantine-breakpoint-lg: 75em;
$mantine-breakpoint-xl: 88em;

body {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  line-height: var(--mantine-line-height);
}

html {
  scroll-behavior: smooth;
}

.shell-group {
  view-transition-name: shellTitleGroup;
}


::view-transition-new(shellTitleGroup) {
  animation: fade-in 0.3s ease 0.6s 1 normal both;
}

::view-transition-old(shellTitleGroup) {
  animation: fade-in 0.3s ease 0.2s 1 reverse both;
}

@keyframes fade-in {

  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}


.abt-Input-input {
  &[readonly] {
    background: var(--mantine-color-gray-1) !important;
    opacity: 0.5;
  }
}