.navbar {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));

    opacity: 1;
    backdrop-filter: blur(80px);
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.1);
    z-index: 100;
    transition: all 0.3s;
}

// light mode
[data-mantine-color-scheme='light'] .navbar {
    background-image:
        radial-gradient(at 82% 59%, hsla(319, 78%, 97%, 1) 0px, transparent 50%),
        radial-gradient(at 62% 83%, hsla(312, 71%, 97%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 21%, hsla(277, 91%, 97%, 1) 0px, transparent 50%)
}

// dark mode
[data-mantine-color-scheme='dark'] .navbar {
    background-image:
        radial-gradient(at 82% 59%, hsl(314, 88%, 6%, 1) 0px, transparent 50%),
        radial-gradient(at 42% 53%, hsla(312, 71%, 6%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 21%, hsla(277, 91%, 6%, 1) 0px, transparent 50%);
}

[data-mantine-color-scheme='light'] .header {
    background-image:
        radial-gradient(at 82% 59%, hsla(319, 78%, 97%, 1) 0px, transparent 50%),
        radial-gradient(at 62% 83%, hsla(312, 71%, 97%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 21%, hsla(277, 91%, 97%, 1) 0px, transparent 50%);
}

[data-mantine-color-scheme='dark'] .header {
    background-image:
        radial-gradient(at 82% 59%, hsl(314, 88%, 6%, 1) 0px, transparent 50%),
        radial-gradient(at 62% 83%, hsla(312, 71%, 6%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 21%, hsla(277, 91%, 6%, 1) 0px, transparent 50%);
}