.scrollArea {
  height: calc(100vh - 128px);
}

.link:not(.expanded) {
  width: 56px;
}

.link:not(.expanded) .mantine-NavLink-body {
  justify-content: center;
}

.link:not(.expanded) .mantine-NavLink-section {
  justify-content: center;
  margin-inline-end: 0 !important;
}

.mantine-NavLink-section[data-position="left"] {
  margin-inline-end: 0 !important;
}

.expanded {
  width: 240px;
}

.link {
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  backdrop-filter: blur(30px);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  width: 100%;

  .merva-NavLink-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-light), var(--mantine-color-dark-light));
    backdrop-filter: blur(40px);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
    & .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &:has([data-active]) {
    &,
    &:hover {
      color: var(--mantine-primary-color-light-color);

      & .linkIcon {
        color: var(--mantine-primary-color-light-color);
      }
    }
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  width: 1.5rem;
  height: 1.5rem;
}

.toggleButton {
  position: absolute;
  z-index: 10; 
  left: calc(var(--app-shell-navbar-width) - 10px);
  top: 0.75rem;
  transform: translateX(-5%);
  transition: transform 0.2s;
  min-width: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  border: 1px solid var(--mantine-primary-color-light);

  
  > * {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 3px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &.expanded {
    > * {
      transform: rotate(180deg);
    }
  }
}

.linkSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkSectionCollapsed {
  margin-inline-end: 0;
}

.linkBody {
  flex: 1;
  display: flex;
  align-items: center;
}

.linkBodyCollapsed {
  display: none;
}

.linkLabel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
}

.linkCollapse {
  margin-left: auto;
  transition: transform 200ms ease;
  
  &[data-expanded] {
    transform: rotate(90deg);
  }
}

.linkDescription {
  display: block;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  font-weight: normal;
  line-height: 1.2;
}