.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  [data-mantine-color-scheme='dark'] & {
    display: none;
  }

  [data-mantine-color-scheme='light'] & {
    display: block;
  }
}

.light {
  [data-mantine-color-scheme='light'] & {
    display: none;
  }

  [data-mantine-color-scheme='dark'] & {
    display: block;
  }
}