.verticalSeparator {
  z-index: 3;
  top: calc(-2 * var(--stepper-icon-size));
  inset-inline-start: calc(var(--stepper-icon-size) / 2);
  border-color: #d1d1d6;
}

.verticalSeparator:where([data-active]) {
  border-color: var(--stepper-color);
}

.verticalSeparator:where(:last-of-type) {
  display: block !important;
}

.stepGradient:where(:first-of-type) .stepIcon2:where([data-completed]) {
  border-color: #d1d1d6;
  background-color: #d1d1d6;
  box-shadow: -20px 9px 20px 2em white;
  z-index: 9;
}

.verticalSeparatorGradient {
  border-inline-start-style: dotted;
}

.stepIcon {
  z-index: 4;
  border-color: #d1d1d6;
}

.stepIcon:where([data-progress]) {
  border-color: #d1d1d6;
}

.stepIcon:where([data-completed]) {
  border-color: var(--stepper-color);
}

.step {
  z-index: 4;
  margin-top: 0;
  align-items: end;
}